//------------------------------------------------------------------------------
// Import
//------------------------------------------------------------------------------
@import "elements-0.9.less";
@import "normalize-3.0.2.less";
@import "font-awesome-4.2.0.less";
//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------
@import url(http://fonts.googleapis.com/css?family=Raleway);
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/OpenSans-Light.eot');
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/OpenSans-Light.eot') format('embedded-opentype'), url('../fonts/OpenSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans.eot');
  src: local('Open Sans'), local('OpenSans'), url('../fonts/OpenSans.eot') format('embedded-opentype'), url('../fonts/OpenSans.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSans-Semibold.eot');
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/OpenSans-Semibold.eot') format('embedded-opentype'), url('../fonts/OpenSans-Semibold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('../fonts/OpenSansLight-Italic.eot') format('embedded-opentype'), url('../fonts/OpenSansLight-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/OpenSans-Italic.eot') format('embedded-opentype'), url('../fonts/OpenSans-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('../fonts/OpenSans-SemiboldItalic.eot') format('embedded-opentype'), url('../fonts/OpenSans-SemiboldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/DroidSansMono.eot');
  src: local('Droid Sans Mono'), local('DroidSansMono'), url('../fonts/DroidSansMono.eot') format('embedded-opentype'), url('../fonts/DroidSansMono.woff') format('woff');
}
.font-light(@size) {
  font-family: 'Open Sans Light';
  font-size: @size;
  font-weight: 300;
}
.font-normal(@size) {
  font-family: 'Open Sans';
  font-size: @size;
  font-weight: 400;
}
.font-bold(@size) {
  font-family: 'Open Sans';
  font-size: @size;
  font-weight: 600;
}
.font-mono(@size) {
  font-family: 'Droid Sans Mono', monospace;
  font-size: @size;
  font-style: normal;
  font-weight: 400;
}

.font-hell(@size, @weight) {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: @size;
  font-weight: @weight;
}

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@bg: #ddd;

//------------------------------------------------------------------------------
// Body Styling
//------------------------------------------------------------------------------
body {
  .font-normal(18px);
  background-color: @bg;
}

a {
  text-decoration: none;
  color: inherit;
}

.body-c83c6 {
  background-color: #fff;
}
.wrapper-a0def {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.header-7f1e8 {
  padding-top: 40px;
  padding-bottom: 40px;
  .clearfix();
}


// offset header
.header-left-363bb {
  float: left;
}

.header-logo-5bacd {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
}

.header-title-947c2 {
  display: inline;
  padding-left: 15px;
  padding-right: 10px;
  height: 100%;
  text-transform: uppercase;
  //.font-normal(32px);
  .font-hell(1.5em, 700);
  color: #555;
}

.header-right-591aa {
  float: right;
  padding-top: 20px;
  .clearfix();
}

.title-tld-b65ee {
  .font-normal(1em);
  text-transform: lowercase;
  color: #777;
}

// inline list header
.inline-list-b9fea {
  display: inline-block;
  width: 33%;
}

.header-title-318a9 {
  text-align: left;
  text-transform: uppercase;
  .font-hell(1.5em, 700);
  color: #555;
}

.header-logo-318a9 {
  text-align: center;
}

.header-link-318a9 {
  text-align: right;
}

// navigation list
.nav-list-5ebc1 {
  text-align: bottom;
}

.nav-link-2c23a {
  display: inline;
  text-align: center;
  text-transform: uppercase;
  .font-hell(16px, 700);
  color: #999;
  margin: 0px 20px;

  &:hover {
    color: #ff5d5d;
    border-bottom: 2px solid #999;
  }
}

.active-link-8157d {
   color: darken(#ff5d5d, 10%);
   border-bottom: 2px solid #777;
}

.bottom-c3612 {
  float: bottom;
  margin-top: 40px;
  background-color: @bg;
}

.footer-center-b2a7f {
  color: #555;
  text-align: center;
  padding-top: 40px;
}

.footer-link-b3f79 {
  display: inline-block;
  padding: 0 10px;
}


