//------------------------------------------------------------------------------
// Import
//------------------------------------------------------------------------------
@import "elements-0.9.less";
@import "normalize-3.0.2.less";
@import "font-awesome-4.2.0.less";
//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), url("../fonts/Raleway.woff2") format('woff2');
  //unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/OpenSans-Light.eot');
  src: local('Open Sans Light'), local('OpenSans-Light'), url('../fonts/OpenSans-Light.eot') format('embedded-opentype'), url('../fonts/OpenSans-Light.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans.eot');
  src: local('Open Sans'), local('OpenSans'), url('../fonts/OpenSans.eot') format('embedded-opentype'), url('../fonts/OpenSans.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSans-Semibold.eot');
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url('../fonts/OpenSans-Semibold.eot') format('embedded-opentype'), url('../fonts/OpenSans-Semibold.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url('../fonts/OpenSansLight-Italic.eot') format('embedded-opentype'), url('../fonts/OpenSansLight-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/OpenSans-Italic.eot') format('embedded-opentype'), url('../fonts/OpenSans-Italic.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  src: local('Open Sans Semibold Italic'), local('OpenSans-SemiboldItalic'), url('../fonts/OpenSans-SemiboldItalic.eot') format('embedded-opentype'), url('../fonts/OpenSans-SemiboldItalic.woff') format('woff');
}
@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/DroidSansMono.eot');
  src: local('Droid Sans Mono'), local('DroidSansMono'), url('../fonts/DroidSansMono.eot') format('embedded-opentype'), url('../fonts/DroidSansMono.woff') format('woff');
}
.font-light(@size) {
  font-family: 'Open Sans Light';
  font-size: @size;
  font-weight: 300;
}
.font-normal(@size) {
  font-family: 'Open Sans';
  font-size: @size;
  font-weight: 400;
}
.font-bold(@size) {
  font-family: 'Open Sans';
  font-size: @size;
  font-weight: 600;
}
.font-mono(@size) {
  font-family: 'Droid Sans Mono', monospace;
  font-size: @size;
  font-style: normal;
  font-weight: 400;
}

.font-hell(@size, @weight) {
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
  font-size: @size;
  font-weight: @weight;
}

.clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@timeline-border-color: #ccc;

@red-primary: #ff5d5d;
@red-secondary: lighten(#ff5d5d, 10%);
@black-primary: #444;
@black-secondary: #777;
@grey-primary: #aaa;
@grey-secondary: #ddd;

//------------------------------------------------------------------------------
// Body Styling
//------------------------------------------------------------------------------
body {
  .font-normal(18px);
  background-color: @grey-secondary;
  min-width: 450px;
}

a {
  text-decoration: none;
  color: inherit;
}

.body-c83c6 {
  background-color: #fff;
}
.wrapper-a0def {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.header-7f1e8 {
  padding-top: 40px;
  padding-bottom: 40px;
  .clearfix();
}


// offset header
.header-left-363bb {
  float: left;
}

.header-logo-5bacd {
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
}

.header-title-947c2 {
  display: inline;
  padding-left: 15px;
  padding-right: 10px;
  height: 100%;
  text-transform: uppercase;
  .font-hell(1.5em, 700);
  color: @black-primary;
}

.header-right-591aa {
  float: right;
  padding-top: 20px;
  .clearfix();
}

.title-tld-b65ee {
  .font-normal(1em);
  text-transform: lowercase;
  color: @black-secondary;
}

// inline list header
.inline-list-b9fea {
  display: inline-block;
  width: 33%;
}

.header-title-318a9 {
  text-align: left;
  text-transform: uppercase;
  .font-hell(1.5em, 700);
  color: @black-primary;
}

.header-logo-318a9 {
  text-align: center;
}

.header-link-318a9 {
  text-align: right;
}

// navigation list
.nav-list-5ebc1 {
  text-align: bottom;
}

.nav-link-2c23a {
  display: inline;
  text-align: center;
  text-transform: uppercase;
  .font-hell(16px, 700);
  color: @grey-primary;
  margin: 0px 20px;
  padding-bottom: 5px;

  &:hover {
    color: @red-secondary;
    border-bottom: 2px solid @grey-primary;
  }
}

.active-link-8157d {
  display: inline;
  text-align: center;
  text-transform: uppercase;
  .font-hell(16px, 700);
  color: @grey-primary;
  margin: 0px 20px;
  padding-bottom: 5px;
  color: @red-primary;
  border-bottom: 2px solid @black-secondary;
}

.bottom-c3612 {
  float: bottom;
  margin-top: 60px;
  background-color: @grey-secondary;
}

.footer-center-b2a7f {
  color: @black-secondary;
  text-align: center;
  padding: 40px 0;
}

.footer-link-b3f79 {
  display: inline-block;
  padding: 0 20px;

  &:hover {
    color: @black-primary;
  }

}

.home-content-6ff4e {
  .font-hell(3.5em, 700);
  text-align: center;
  color: @black-primary;
  width: 75%;
  margin: 0 auto;
  padding: 40px 0;
}

.home-greet-a199e {
  margin-top: 30px;
  color: @black-secondary;
  font-size: 0.8em;
  line-height: 1.4em;
}

.marker-cd4ad {
  margin-right: 30px;
}

.city-07ffa {
  color: @red-secondary;
}

.location-a36e7 {
  margin-top: 50px;
  color: @black-primary;
  font-size: 0.7em;
  line-height: 1.4em;
}


.disclaimer-d553a  {
  padding: 20px 0 20px 0;
}

.license-5cb15 {
  font-size: 12px;
  float: left;
}

.lic-link-5b3f9 {
  color: @red-primary;
}

.profile-e619f {
  margin-top: 40px;
  .clearfix();
}

.profile-left-44dfc {
  float: left;
  width: 32%;
  position: relative;
}

.profile-right-717af {
  float: right;
  text-align: left;
  width: 63%;
}

.profile-pic-8ab09 {
  width: 80%;
}

.about-title-771d6 {
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 500;
  color: @black-primary;
}

.about-content-80f15 {
  color: @black-primary;
  .font-light(1.2em);
  line-height: 1.7em;
}

.generic-link-20b6e {
  color: #333;
  font-weight: 700;
  border-bottom: 1px solid @black-secondary;
}

.edu-f0232, .exp-d625a, .skills-1c9f7{
  margin-top: 70px;
}

.prof-title-2f701 {
  .font-hell(1.2em, 700);
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid @grey-secondary;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: @black-primary;
}

.space-right {
  display: inline-block;
  padding-right: 20px;
}

.uni-6c2bd, .dates-053aa, .degree-c86ab {
  line-height: 1.5em;
}

.uni-6c2bd {
  .font-normal(1em);
}

.dates-053aa, .degree-c86ab {
  .font-light(0.9em);
  color: @black-secondary;
}

.job-b1d10 {
  margin-bottom: 40px;
}

.job-desc-ee279 {
  color: @black-secondary;
  .font-light(0.9em);
  line-height: 1.7em;
}

.co-name-6be4f {
  line-height: 1.7em;
  color: @black-secondary;
}

.job-date-06fc3 {
  float: right;
  color: @grey-secondary;
  .font-light(0.8em);
  line-height: 1.7em;
}

// DEAD CSS
.timeline-f87c7  {
  position: relative;
  padding: 3em 0 2em 0;
  margin-top: 2em;
  margin-bottom: 3em;
  margin: 0 auto;
}

.timeline-f87c7::before {
  /* this is the vertical line */
  content: '';
  position: absolute;
  top: 0;
  left: 22px;
  height: 100%;
  width: 4px;
  background: @timeline-border-color;
  left: 51%;
  margin-left: 2px;
}

.timeline-block-2024c {
  position: relative;
  margin: 4em 0 6em 0;
  color: #4d4d4d;
  .clearfix();
}

.timeline-img-9cc5f {
  background: @red-secondary;
  position: absolute;
  top: 0;
  border-radius: 50%;
  border: 4px solid @timeline-border-color;
  width: 40px;
  height: 40px;
  left: 51%;
  margin-left: -20px;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
}

.timeline-content-b1670 {
  padding: 1.6em;
  width: 35%;
  position: relative;
  margin-left: 60px;
  padding: 1em;
  border: 1px solid @timeline-border-color;
  background: #eee;
   box-shadow: -1px 1px 3px #aaa;
}

.timeline-content-cd817 {
  float: right;
  padding: 1.6em;
  width: 35%;
  position: relative;
  margin-right: 40px;
  padding: 1em;
  border: 1px solid @timeline-border-color;
  background: #eee;
  box-shadow: 1px 1px 3px #ddd;
}

.timeline-content-cd817 .tl-date-4d0bc {
  left: auto;
  right: 140%;
  text-align: right;
}

.timeline-content-b1670:after, .timeline-content-b1670:before {
  left: 100%;
  top: 25;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.timeline-content-b1670:after {
  border-color: rgba(136, 183, 213, 0);
  border-left-color: #eee;
  border-width: 10px;
  margin-top: -10px;
}

.timeline-content-b1670:before {
  border-color: rgba(194, 225, 245, 0);
  border-left-color: @timeline-border-color;
  border-width: 11px;
  margin-top: -11px;
}

.timeline-content-cd817:after, .timeline-content-cd817:before {
  right: 100%;
  top: 25;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
} 

.timeline-content-cd817:after {
  border-color: rgba(136, 183, 213, 0);
  border-right-color: #eee;
  border-width: 10px;
  margin-top: -10px;
}

.timeline-content-cd817:before {
  border-color: rgba(194, 225, 245, 0);
  border-right-color: @timeline-border-color;
  border-width: 11px;
  margin-top: -11px;
}

.tl-date-4d0bc {
  position: absolute;
  width: 100%;
  left: 140%;
  top: 6px;
  color: @black-secondary;
  font-size: 0.8em;
  font-weight: 700;
}

.tl-title-7c942 {
  font-weight: 700;
  font-size: 1.2em;
}

.tl-cont-52c3f {
  padding-top: 10px;
  font-size: 0.8em;
  line-height: 1.75em;
  color: @black-secondary;
}

.job-title-720f9 {
  float: right;
  font-weight: 500;
  font-size: 0.8em;
  .clearfix();
}
